a {
    text-decoration: none;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

    max-width: 80%;
    height: calc(100% - 50px - 1rem);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 1rem 0 1rem;
    overflow-y: scroll;
}

.outer-container {
    min-height: 2rem;
    width: 100%;

    display: flex;
    margin-bottom: 0.1rem;
}

.avatar {
    height: 100%;
    max-width: 2rem;
    max-height: 2rem;
    flex-grow: 1;
    margin-right: 0.1rem;
}

.inner-container {
    display: flex;
    flex-grow: 2;
}

.spacer {
    height: 100%;
    flex-grow: 2;
}

.bubble {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    max-width: 80%;
    word-break: break-word;
    height: 100%;
    border-radius: 1rem;
}

.image {
    border-radius: 0.9rem;
}

.me {
    background-color: #75bbfd;
}

.you {
    background-color: #d1d1d1;
}

.btn-chat-control {
    border-radius: 0;
}
