{% extends "base.html" %}

{% block content %}
    <div id="content">
        <div id="head">
            <h2 id="title" class="font-monospace"> <b> Класс SCP-объектов «Безопасный» </b> </h2>
        </div>

        <div id="body" class="font-monospace">
            <a href="/static/images/articles/safe.jpg" class="card image-card" style="float: right; width: 250px;" target="_blank">
                <img class="card-image" src="/static/images/articles/safe.jpg" onError="this.src='/static/images/default_chat.jpg'" alt="...">
                <p style="margin-bottom: 0; text-align: center;"> Маркировка класса «Безопасный» </p>
            </a>
            <p style="margin-bottom: 0.7rem;">
                Классификация «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасный</a>» присваивается объектам или субъектам, которые хранятся надёжно и эффективно. «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасный</a>» может требовать определённых мер сдерживания, но это не значит, что ожидаются опасные ситуации. В противном случае (или по мере поступления дополнительной информации об объекте) классификация может быть пересмотрена.
            </p>
            <p style="margin-bottom: 0.7rem">
                Некоторые «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасные</a>» - люди, гуманоиды или иные разумные существа. Чтобы предотвратить возможные травмы и/или смерти персонала <a href="https://yandex.ru/search/?text=%D0%A4%D0%BE%D0%BD%D0%B4+SCP&lr=7&clid=2255395-225&win=438" style="cursor: inherit; text-decoration: none; color: black;" target="_blank"><strong>Фонда SCP</strong></a>, взаимодействие с ними должно быть вежливым и профессиональным. Также должны приниматься во внимание процедуры их содержания.
            </p>
            <p style="margin-bottom: 0.7rem">
                С некоторыми «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасными</a>» объектами разрешено контактировать любому сотруднику <a href="https://yandex.ru/search/?text=%D0%A4%D0%BE%D0%BD%D0%B4+SCP&lr=7&clid=2255395-225&win=438" style="cursor: inherit; text-decoration: none; color: black;" target="_blank"><strong>Фонда</strong></a>, причём в некоторых случаях независимо от <a href="/article/security-levels"  style="cursor: inherit; text-decoration: none; color: black;">уровня допуска</a>, на другие же накладываются различные ограничения. «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасные</a>» - единственные объекты, с которыми имеют право контактировать сотрудники с уровнем допуска O5, но только при соблюдении всех мер предосторожности.
            </p>
            <p>
                Следует отметить, что классификация «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасный</a>» не означает, что процедуры содержания не нужны. Многие такие объекты могут быть весьма опасными в определённых условиях. Важная черта «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасных</a>» объектов это то, что их можно не опасаться при соответствующих процедурах содержания. Например, классификацию «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасный</a>» можно было бы присвоить пистолету, ядерному оружию или полонию.
            </p>
            <p style="margin-bottom: 0"><strong> Примеры объектов: </strong></p>
            <div id="examples" style="margin-left: 1rem;">
                <p style="margin-bottom: 0.7rem">
                    <a href="/article/SCP-005" class="reference">SCP-005</a> - классический пример объекта класса «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасный</a>». Проявляет аномальные свойства, не наносящие вреда (хотя они и могут быть использованы со злым умыслом), причём активирует их не сам объект, а тот, кто его использует.
                </p>
                <p style="margin-bottom: 0.7rem">
                    <a href="/article/SCP-044" class="reference">SCP-044</a> - данный объект, напротив, способен на массовые разрушения, однако, опять же, сам по себе он не активируется - обязательно нужен тот, кто будет заряжать объект и стрелять.
                </p>
            </div>
            <blockquote>
                <em>
                    <strong>Правило коробки:</strong>
                    Если положить объект в коробку, убрать её подальше, и ничего плохого не случится, то это, скорее всего, «<a href="/article/safe" style="cursor: inherit; text-decoration: none; color: black;">Безопасный</a>».
                </em>
            </blockquote>
        </div>
    </div>
{% endblock %}
