{% extends "base.html" %}

{% block content %}
    <div id="content">
        <div id="head">
            <h2 id="title" class="font-monospace"> <b> SCP-173 - Скульптура </b> </h2>
        </div>

        <div id="body" class="font-monospace">
            <a href="/static/images/articles/SCP-173.webp" class="card image-card">
                <img class="card-image" src="/static/images/articles/SCP-173.webp" onError="this.src='/static/images/default_chat.jpg'" alt="...">
            </a>
            <div style="margin-bottom: 0.7rem;">
                <p style="margin-bottom: 0;">
                    <strong> Объект №: </strong>
                    SCP-173
                </p>
                <p style="margin-bottom: 0;">
                    <strong> Класс объекта: </strong>
                    <a href="/article/euclid" class="reference"> Евклид </a>
                </p>
            </div>
            <p style="margin-bottom: 0.7rem;">
                <strong> Особые условия содержания: </strong>
                Объект <strong>SCP-173</strong> должен постоянно храниться в закрытом контейнере. При посещении персоналом контейнера с <strong>SCP-173</strong> в контейнер должно входить не менее трёх человек, и дверь должна быть немедленно заперта за ними. Два лица должны постоянно поддерживать прямой зрительный контакт с <strong> SCP-173 </strong> до тех пор, пока все сотрудники не покинут контейнер, и он не будет заперт.
            </p>
            <p style="margin-bottom: 0.7rem;">
                <strong> Описание: </strong>
                Привезён в <strong>Зону 19</strong> в 19<span class="hide">93</span> году. Происхождение всё ещё неизвестно. Изготовлен из бетона и арматуры со следами аэрозольной краски марки <strong><a href="https://yandex.ru/search/?text=Krylon&lr=7&clid=2255395-225&win=438" style="color: black; text-decoration: none; cursor: inherit;" target="_blank">Krylon</a></strong>. <strong> SCP-173 </strong> одушевлён и крайне враждебен. Объект не может двигаться в то время, когда находится в пределах прямой видимости. При работе с <strong> SCP-173 </strong> никогда не должен быть нарушен зрительный контакт. Персонал, предназначенный для входа в контейнер, проинструктирован предупреждать друг друга перед тем, как моргнуть. Объект, как сообщается, нападает, ломая шею у основания черепа, или с помощью удушения. В случае нападения персонал должен применять действия по сдерживанию опасных объектов <strong>класса 4</strong>.
            </p>
            <p style="margin-bottom: 0.7rem;"> Персонал докладывает о скрежете, доносящемся из контейнера, когда никто не присутствует внутри. Это считается нормальным, и о любых изменениях в этом поведении должно быть немедленно доложено действующему куратору <strong>HMCL</strong>. </p>
            <p style="margin-bottom: 0.7rem;"> Красновато-коричневая субстанция на полу представляет собой смесь фекалий и крови. Происхождение этих веществ неизвестно. Корпуса должны очищаться раз в две недели. </p>
        </div>
    </div>
{% endblock %}
