{% extends "base.html" %}

{% block content %}
    <div class="list-group d-flex justify-content-evenly opacity-90" style="max-width: 60%; margin-left: 20%; margin-top: 5%;">
        <div style="display: flex; margin-bottom: 1%; flex-direction: row;">
            <a class="btn btn-outline-success" href="/article/add" style="width: 38px; height: 38px;"> + </a>
            <p class="navbar-brand font-monospace" style="margin-left: 1rem;"> Добавить статью </p>
        </div>
        {% for article in articles %}
            <div style="display: flex; flex-direction: row; margin-bottom: 0.5%;">
                <a href=/article/{{ article.link }} class="list-group-item list-group-item-action" {% if (article.owner == current_user.id) %} style="border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem;" {% else %} style="border-radius: 0.25rem;" {% endif %}>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 font-monospace"> <b> {{ article.title }} </b> </h5>
                        {% if (now - article.create_date).days > 365 %}
                            <small class="text-muted font-monospace"> {{ (now - article.create_date).days // 365 }} years ago </small>
                        {% elif (now - article.create_date).days > 30 %}
                            <small class="text-muted font-monospace"> {{ (now - article.create_date).days // 30 }} months ago </small>
                        {% elif (now - article.create_date).days > 0 %}
                            <small class="text-muted font-monospace"> {{ (now - article.create_date).days }} days ago </small>
                        {% elif (now - article.create_date).seconds > 3600 %}
                            <small class="text-muted font-monospace"> {{ (now - article.create_date).seconds // 3600 }} hours ago </small>
                        {% elif (now - article.create_date).seconds > 60 %}
                            <small class="text-muted font-monospace"> {{ (now - article.create_date).seconds // 60 }} minutes ago </small>
                        {% else %}
                            <small class="text-muted font-monospace"> Recently </small>
                        {% endif %}
                    </div>
                    <p class="mb-1 font-monospace"> {{ article.about }} </p>
                    {% if (article.owner == current_user.id) %}
                        <small class="text-muted font-monospace"> Автор: Вы </small>
                        <a class="btn btn-danger" href="/article/{{ article.link }}/delete" style="border-radius: 0.25rem; border-bottom-left-radius: 0; border-top-left-radius: 0rem;"> - </a>
                    {% else %}
                    <small class="text-muted font-monospace"> Автор: {{ article.user.name }} </small>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% if (not articles) %}
        <h1 class="font-monospace" style="width: 100%;text-align: center;position: fixed;top: 50%;transform: translate(0, -50%);"> <b> По вашему запросу ничего не найдено. </b> </h1>
    {% endif %}
{% endblock %}
